:root {
    --bg-cor: #1d1825;
    --bg-cor-sec: #2f2741;
    --font-color: #F5F5FA;
    --font-color-blue: #27bee7;
    --font-size-small: 1.1rem;
    --font-size-medium: 1.8rem;
    --font-size-big: 2.4rem;
}

header {
    width: 100vw;
    height: 90px;
    background-color: var(--bg-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 999;
}

/* LOGO DO SITE */
.logo--header {
    width: 100%;
    height: 60%;
}

/* LINK DENTRO DO LOGO */
header a {
    min-width: 20px;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* CONTAINER DO MENU MOBILE */
.container--nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
}

/* CONTAINER DO BOTAO DO MENU MOBILE */
.container--nav-btn-mobile {
    width: 80px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* LINHAS DO MOBILE MENU */
.bnt--mobile-linha-1 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    border-radius: 30px;
    transition: all .6s ease-in-out;
}

.active--linha-1 {
    transform: translateY(10px) rotate(-310deg);
}

.bnt--mobile-linha-2 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    margin: 7px 0px 7px 0px;
    border-radius: 30px;
    transition: all .5s 100ms ease-out;
}

.active--linha-2 {
    opacity: 0;
}

.bnt--mobile-linha-3 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    border-radius: 30px;
    transition: all .6s ease-in-out;
}

.active--linha-3 {
    transform: translateY(-10px) rotate(310deg);
}

.nav--area {
    position: fixed;
    top: 70px;
    right: 0;
    width: 0%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #1d1825;
    overflow: hidden;
    transition: all .8s ease-in-out;
    padding: 0px;
}

.nav--area li {
    margin-top: 20px;
    width: 80%;
    list-style: none;
    text-align: center;
}

.nav--area li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #27bee7;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0;
}


.nav--desktop {
    display: none;
}

/* TELA MODAL LOGIN */
.modal--login {
    position: fixed;
    width: 100%;
    height: 80%;
    transform: translateY(60%);
    display: none;
    justify-content: center;
    align-items: center;
}

/* FORM DA TELA LOGIN */
form {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #1d1825;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CARDS LOGIN E SENHA */
.login--card,
.senha--card {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* INPUTS E LABELS DO CARD LOGIN */
.login--card label,
.senha--card label,
.login--card input,
.senha--card input {
    width: 60%;

}

.login--card input,
.senha--card input {
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 1.1rem;
}

.login--card label,
.senha--card label {
    color: #27bee7;
    padding: 2px;
    font-size: 1.5rem;
}

/* BOTAO CARD LOGIN */
.modal--login button {
    margin-top: 30px;
    width: 30%;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #27bee7;
    font-weight: 600;
    background-color: #362e49;
    cursor: pointer;
}

/* MODAL BOTAO DE VOLTAR */
.btn--login-close{
    width: 50px;
    height: 30px;
    font-size: 1.1rem;
    color: #27bee7;
    border-radius: 10px;
    padding: 2px;
    background-color: #362e49;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 70px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* LINK ESQUECI SENHA E CADASTRO */
.modal--links{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal--links a{
    max-width: 40%;
    margin: 0px 20px 0px 0px;
    color: #3cc6ec;
}

/* CLASS PARA ATIVAR O MODEL LOGIN */
.active--modal{
    display: none;
}


@media screen and (min-width: 800px) {
    .nav--desktop {
        display: flex;
        margin-right: 50px;
    }

    .nav--desktop a {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 1.6rem;
        font-weight: 600;
        color: #27bee7;
    }



    .container--nav-btn-mobile {
        display: none;
    }

    .nav--area {
        display: none;
    }

}

@media screen and (min-width: 1300px) {
    .nav--desktop {
        width: 30%;
        display: flex;
        justify-content: space-evenly;

    }

    .nav--desktop a {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 2rem;
        font-weight: 600;
        color: #27bee7;
    }

    .nav--desktop a:nth-child(2) p {
        border-radius: 10px;
        width: 70%;
        padding: 5px;
        background-color: #362e49;
        text-align: center;
    }


    .nav--desktop a p {
        font-size: 2rem;
    }

    .container--nav-btn-mobile {
        display: none;
    }

    .nav--area {
        display: none;
    }

}