:root {
    --bg-cor: #1d1825;
    --bg-cor-sec: #2f2741;
    --font-color: #F5F5FA;
    --font-color-blue: #27bee7;
    --font-size-small: 1.1rem;
    --font-size-medium: 1.8rem;
    --font-size-big: 2.4rem;
}

header {
    width: 100vw;
    height: 90px;
    background-color: var(--bg-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 999;
}

/* LOGO DO SITE */
.logo--header {
    width: 100%;
    height: 60%;
}

/* LINK DENTRO DO LOGO */
header a {
    min-width: 20px;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* CONTAINER DO MENU MOBILE */
.container--nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
}

/* CONTAINER DO BOTAO DO MENU MOBILE */
.container--nav-btn-mobile {
    width: 80px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* LINHAS DO MOBILE MENU */
.bnt--mobile-linha-1 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    border-radius: 30px;
    transition: all .6s ease-in-out;
}

.active--linha-1 {
    transform: translateY(10px) rotate(-310deg);
}

.bnt--mobile-linha-2 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    margin: 7px 0px 7px 0px;
    border-radius: 30px;
    transition: all .5s 100ms ease-out;
}

.active--linha-2 {
    opacity: 0;
}

.bnt--mobile-linha-3 {
    width: 50%;
    height: 3px;
    background-color: #27bee7;
    border-radius: 30px;
    transition: all .6s ease-in-out;
}

.active--linha-3 {
    transform: translateY(-10px) rotate(310deg);
}

.nav--area {
    position: fixed;
    top: 70px;
    right: 0;
    width: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1d1825;
    overflow: hidden;
    transition: all .8s ease-in-out;
}

.nav--area li {
    margin-top: 20px;
    width: 80%;
    list-style: none;
    text-align: center;
}

.nav--area li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #27bee7;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0;
}

.nav--desktop {
    display: none;
}

@media screen and (min-width: 800px) {
    .nav--desktop {
        display: flex;
        margin-right: 50px;
    }

    .nav--desktop a {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 1.6rem;
        font-weight: 600;
        color: #27bee7;
    }

    .nav--desktop a:hover {
        border-bottom: dashed 2px #27bee7;
    }

    .container--nav-btn-mobile {
        display: none;
    }

    .nav--area {
        display: none;
    }

}

@media screen and (min-width: 1300px) {
    .nav--desktop {
        width: 30%;
        display: flex;
        justify-content: space-evenly;

    }

    .nav--desktop a {
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 2rem;
        font-weight: 600;
        color: #27bee7;
    }

    .nav--desktop a:hover {
        border-bottom: dashed 2px #27bee7;
    }

    .nav--desktop a p {
        font-size: 2rem;
    }

    .container--nav-btn-mobile {
        display: none;
    }

    .nav--area {
        display: none;
    }

}